.sbar_title {
    color: green;
}

.trackSearch_container {
    margin: 8rem auto;
}

.trackSearch {
    color: black;
    font-size: 1.2rem;
    font-weight: bold; 
    border: none;
    border-radius: 2px;
    height: 3rem;
    min-width: 300px;
    text-align: center;
}