* {
  color: white;
  font-family: 'Figtree', sans-serif;
}

button {
  background-color: #0a7c2a;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.App {
  text-align: center;
}

.mSpan {
  color: #08b73a;
}

.logo {
  font-size: 3rem;
  display: flex;
  background-color: black;
  margin-top: 0;
  height: 4rem;
  justify-content: center;
  align-items: center;
}

.functionality_container {
  display: flex;
  justify-content: space-around;
}